<div class='col-lg-6 col-lg-offset-3'>
<table class='table table-condensed table-striped'>
  <tr>
    <th>Name:</th>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>Admin:</th>
    <td><span class='glyphicon glyphicon-<%= @user.admin ? 'ok-circle' : 'remove-circle' %>'</td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user), html: {class: 'btn btn-primary'} %>
</div>
